{{ template "head"}}

{{ template "header" .}}

<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 titulo-paginas">
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
      <h1 class="h2">Salas de Crise</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
  
  
        </div>
  
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
          
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">[Atento] Problemas Operacionais Críticos</h5>
                       <p class="card-text">Funcionamento: <span style="color: red;">8h00 às 20h00</span></p> 
                        <hr>
                        <a target="_blank" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_NGJkNDQxM2YtZWUxMy00MzY3LWE3MWYtZGYzYmU5ZjMwZGUx%40thread.v2/0?context=%7b%22Tid%22%3a%225efb9c6c-41dc-4a88-9763-a8b7efb59686%22%2c%22Oid%22%3a%22272f0a1d-c12b-46c1-8490-9c105feb2dec%22%7d" class="btn btn-outline-secondary ">Clique para ingressar</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">[Atento] Sala PF VIVO</h5>
                       <p class="card-text">Funcionamento: <span style="color: red;">-</span></p> 
                        <hr>
                        <a target="_blank" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_YzZjZTJkNDgtNmQ3My00MmYyLThjYWUtNTZmOGFlYzU3ZjQx%40thread.v2/0?context=%7b%22Tid%22%3a%225efb9c6c-41dc-4a88-9763-a8b7efb59686%22%2c%22Oid%22%3a%22272f0a1d-c12b-46c1-8490-9c105feb2dec%22%7d" class="btn btn-outline-secondary ">Clique para ingressar</a>
                      </div>
                    </div>
                  </div>
                </div>
           
                </div>
                   
              </div>
       
        </div>
        <!-- end card -->
    </div>
   




{{ template "footer"}}
{{ template "scripts"}}

</body>
</html>