
{{ define "scripts" }}

 
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>


<script src="/assets/js/docs.js"></script>
<script src="/assets/js/formulario-impressora.js"></script>
<script src="/assets/js/formulario-homeoffice.js"></script>
<script src="/assets/js/consulta-ativo.js"></script>
<script src="/assets/js/consulta-imdb.js"></script>
<script src="/assets/js/consulta-catraca.js"></script>
<script src="/assets/js/sweetalert2@11.js"></script>
<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="/assets/js/promise-polyfill.js"></script>


<script src="/assets/js/scripts.js"></script>
<script>$('#meuModal').on('shown.bs.modal', function () {
    $('#meuInput').trigger('focus')
  })</script>
{{ end }}