
{{ define "header"}}


<nav class="navbar navbar-expand-lg navbar-dark bg-atento shadow">
  <div class="container-xl">
     <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="/assets/images/logo-light.png" height="25"></img>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav mr-auto space-menu">
        <li class="nav-item">
          <a href="/home" class="nav-link px-2 menu-atento ">Home</a>
        </li>
        {{ if eq .Cookies.V_MAPA_OPERACIONAL "S" }}
        <li class="nav-item">
          <a href="/mapa/operacoes" class="nav-link px-2 menu-atento ">Mapa Operações</a>
        </li>
        {{ end }}
        {{ if eq .Cookies.V_BDC_POSTS "S" }}
        <li class="nav-item">
          <a href="/base" class="nav-link px-2 menu-atento ">Base de Conhecimento</a>
        </li>
        {{ end }}
        {{ if eq .Cookies.V_IMDB "S" }}
        <li class="nav-item">
          <a href="/consulta/imdb" class="nav-link px-2 menu-atento ">IMDB</a>
        </li>
        {{ end }}
        {{ if eq .Cookies.V_GSA "S" }}
        <li class="nav-item">
          <a href="/consulta/ativo" class="nav-link px-2 menu-atento ">GSA</a>
        </li>
        {{ end }}

        
    
        </li>

      </ul>




      <div class="col-4 nav-item">
        <form class=" my-2 my-lg-0" action="/base/busca" method="GET">


          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="bi bi-search"></i></div>
            </div>
            <input type="text" class="form-control mr-sm-2"  style="font-size: 16px; border: none;" name="busca"  placeholder="Buscar base de conhecimento..." aria-describedby="button-addon4"  required="required">
        
          </div>






          </form>
        
      </div>
   
      <div class="dropdown">
        <button  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-user"><img src="https://api-funcionario.atento.com.br/v3.0/funcionario/BRATE{{.Cookies.RE}}/foto/url" alt="avatar" onerror="this.src='/assets/images/icons/user.png'" height="31" class="fade-user rounded-circle"></button>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{ if eq .Cookies.V_USUARIOS "S" }}
      <a class="dropdown-item" href="/usuarios"><i class="bi-people"></i> Usuarios</a>
      {{ end }}
      <a class="dropdown-item" href="/usuarios/{{.Cookies.UsuarioID}}/senha"><i class="bi-lock"></i> Alterar Senha</a>
      <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/deslogar"><i class="bi-power"></i> Deslogar</a>



        </div>
      </div>
    </div>
  </div>
</nav>


{{ end }}

