{{ template "head" .}}



   
<nav class="fixed-top flex-md-nowrap p-0 shadow">
  {{ template "header" .}}
</nav>



{{ template "sidebar-base" .}}

    <main role="main" class="col-md-9 ml-sm-auto mt-5 pt-2 col-lg-10 ">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-1 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{.ClienteUnique.NOME}} / {{.CatUnique.NOME}} / Criar Publicação</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
  
      
     
          </div>
        </div>
      </div>

  <div class="container-fluid">


  <div class="card">

    <div class="row">        
        <div class="card card-body">
          <div class="alert alert-danger" id="alertd" style="display: none;" role="alert"></div>
          <form method="post" action="/base">
            <div class="col-12">

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Título</label>
                  <input type="text" class="form-control mt-2" id="titulo" name="titulo" required>
                </div>
                
              </div>




              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Cliente</label>
                  <input type="text" class="form-control mt-2" value="{{.ClienteUnique.NOME}}" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Categoria</label>
                  <input type="text" class="form-control mt-2" value="{{.CatUnique.NOME}}" readonly>
                </div>
              </div>


              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Sub-Categoria </label>      
                  <select id="id_subcategoria" name="id_subcategoria" class="form-control" required="">
                    <option value="" selected >Escolha...</option>
                    {{ range .SubCategoria}}
                    <option value="{{.IDSUBCATEGORIA}}">{{.NOME}}</option>
                    {{end}}
                </select>
                </div>




                <div class="form-group col-md-6">
                  <label for="inputPassword4">Site</label>
                  <select id="id_site" name="id_site" class="form-control" required="">
                    <option value="" selected>Escolha...</option>
                    {{ range .Site}}
                    <option value="{{.IDSITE}}">{{.NOME}}</option>
                    {{end}}
                </select>
                </div>
              </div>




<input type="hidden" value="{{.ClienteID}}" name="id_cliente" id="id_cliente">

<input type="hidden" value="{{.CategoriaID}}" name="id_categoria" id="id_categoria">

         
      
              <input type="hidden" name="id_usuario"  class="form-control" value="{{.Cookies.UsuarioID}}"  id="id_usuario">
            


              <div class="form-row">
                <div class="form-group col-md-12">
                  <textarea id="conteudo" name="conteudo" required ></textarea>
                </div>
           
              </div>



          
 
                
 


<hr>

<button onclick="criarPublicacao()" class="btn btn-block btn-outline-secondary">
  Criar
</button>
</form>
              </div>
         
          </div>

               
                


            </div>
        </div>
  
  

  
  
  
             
              
    
  
  
  </div>
  </div>
  </div>
  </div>
  <script src="/assets/js/tinymce/tinymce.min.js"></script>
<script>

tinymce.init({
  selector:'#conteudo',
  plugins: 'image code',
  convert_urls: false,
  language: 'pt_BR',
  images_upload_url: '/upload',
//  images_upload_base_path: '/img',
 // images_upload_credentials: true,
  height : "440",
  toolbar: 'undo redo | image code',
    setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
    }
});
</script>      


                                {{ template "footer"}}
                                {{ template "scripts"}}
                                <script>
                                  $.urlParam = function (name) {
                                      var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                                                        .exec(window.location.search);
                                  
                                      return (results !== null) ? results[1] || 0 : false;
                                  }
                                  
                                  var mensagem = $.urlParam('message').replace(/%20/g, ' ');;
                                  
                                    if (mensagem == false) {
                                        console.log("nenhuma mensagem impressa")
                                    } else {
                                        console.log("imprime mensagem")
                                        $('#alertd').fadeIn(1000);
                                        $('#alertd').text(mensagem);
                                    }
                                    </script>
                                </body>
                                </html>
  