{{ template "head" .}}
{{ template "header" .}}

<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div class="col-md-12 ml-sm-auto">
    <div class="row">
      <div class="col-md-12">

  


        <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
                    <h1 class="h2">{{.MapaOperacional.OPERACAO}} </h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">

                            <button type="submit" id="deletar-mapa" data-mapa-id="{{ .MapaOperacional.IDMAPA }}"  class="mr-2 btn btn-sm btn-outline-danger">Deletar</button>
                            <button type="submit" id="atualizar-mapa" data-mapa-id="{{ .MapaOperacional.IDMAPA }}" class="mr-2 btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>





        


        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                  <div class="card card-body">
                    <h1 class="h5 card-title">Atualizar informações</h1>
                    <p class="mb-2">Utilize essa página para alterar as informações da operação.</p>
                        <div class="row">
                        <div class="col-2 mt-3">
                            <label class="form-label">Site</label>
                            <select id="id_site" name="id_site" class="form-control">
                           <option selected="selected" style="display:none;" value="{{.MapaOperacional.ID_SITE}}">{{.MapaOperacional.Site.NOME}}</option>
             
                                {{ range .Site}}
                                <option value="{{.IDSITE}}">{{.NOME}}</option>
                                {{end}}
                            </select>

                        </div>
                        <div class="col-2 mt-3">
                            <label>Cliente:</label>
                            <select id="id_cliente" name="id_cliente" class="form-control">
                 <option  selected="selected" style="display:none;" value="{{.MapaOperacional.ID_CLIENTE}}">{{.MapaOperacional.Cliente.NOME}}</option>
             
                                {{ range .Cliente}}
                                <option value="{{.IDCLIENTE}}">{{.NOME}}</option>
                                {{end}}
                            </select>

                        </div>

                        <div class="col-2 mt-3">
                            <label>Nome da Operação:</label>
                            <input type="text"  value="{{.MapaOperacional.OPERACAO}}" name="operacao" id="operacao" class="form-control" required="">
                        </div>
                        <div class="col-2 mt-3">
                            <label>Config. CPU:</label>

                            <select id="config_contratual" name="config_contratual" class="form-control" value="{{.MapaOperacional.CONFIG_CONTRATUAL}}">

                 <option  selected="selected" style="display:none;" value="{{.MapaOperacional.CONFIG_CONTRATUAL}}">{{.MapaOperacional.CONFIG_CONTRATUAL}}</option>
             
                                <option>CPU: Core 2 Duo | 4GB RAM | HD</option>
                                <option>CPU: Core 2 Duo | 8GB RAM | HD</option>
                                <option>CPU: Core 2 Duo | 4GB RAM | SSD</option>
                                <option>CPU: Core 2 Duo | 8GB RAM | SSD</option>

                                <option>CPU: I3 | 4GB RAM | HD</option>
                                <option>CPU: I3 | 8GB RAM | HD</option>
                                <option>CPU: I3 | 4GB RAM | SSD</option>
                                <option>CPU: I3 | 8GB RAM | SSD</option>
                                
                                <option>CPU: I5 | 4GB RAM | HD</option>
                                <option>CPU: I5 | 8GB RAM | HD</option>
                                <option>CPU: I5 | 4GB RAM | SSD</option>
                                <option>CPU: I5 | 8GB RAM | SSD</option>
                                <option>CPU: I5 | 16GB RAM | SSD</option>

                                <option>CPU: I7 | 4GB RAM | HD</option>
                                <option>CPU: I7 | 8GB RAM | HD</option>
                                <option>CPU: I7 | 4GB RAM | SSD</option>
                                <option>CPU: I7 | 8GB RAM | SSD</option>
                                <option>CPU: I7 | 16GB RAM | SSD</option>

                                <option>CPU: Ryzen | 4GB RAM | HD</option>
                                <option>CPU: Ryzen | 8GB RAM | HD</option>
                                <option>CPU: Ryzen | 4GB RAM | SSD</option>
                                <option>CPU: Ryzen | 8GB RAM | SSD</option>
                                <option>CPU: Ryzen | 16GB RAM | SSD</option>


                            </select>

                        </div>
                        <div class="col-2 mt-3">
                            <label>Versão Windows:</label>

                            <select id="versao_windows" name="versao_windows" class="form-control">
                                <option  selected="selected" style="display:none;" value="{{.MapaOperacional.VERSAO_WINDOWS}}">{{.MapaOperacional.VERSAO_WINDOWS}}</option>
             
                                <option>Windows 10 Enterprise</option>
                                <option>Windows 10 Pro For Workstations</option>
                                <option>Windows 10 Pro</option>
                                <option>Windows 7 Professional</option>
                                <option>Windows 7 Enterprise</option>
                            </select>

                        </div>
                        <div class="col-2 mt-3">
                            <label>Nome da Imagem:</label>
                            <input type="text" value="{{.MapaOperacional.IMAGEM}}"  name="imagem" id="imagem" class="form-control" required="">
                        </div>
                        <div class="col-2 mt-3">
                            <label>Grupo no IMDB:</label>
                            <input type="text" value="{{.MapaOperacional.GRUPO_IMDB}}" name="grupo_imdb" id="grupo_imdb" class="form-control" required="">
                        </div>
                        <div class="col-2 mt-3">
                            <label>Domínio:</label>
                            <select selected="selected" id="id_dominio" name="id_dominio" value="{{.MapaOperacional.ID_DOMINIO}}" class="form-control">
                             <!--        <option selected="selected" style="display:none;" value="{{.MapaOperacional.Dominio.IDDOMINIO}}">{{.MapaOperacional.Dominio.NOME}}</option> -->
             
                                {{ range .Dominio}}
                                <option value="{{.IDDOMINIO}}">{{.NOME}}</option>
                                {{end}}
                            </select>
                        </div>

                        <div class="col-md-2 mt-3">
                            <label for="username">Range Vlan de Dados</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">VLAN DADOS</span>
                              </div>
                              <input type="text" value="{{.MapaOperacional.VLAN_DADOS}}" maxlength="25" name="vlan_dados" id="vlan_dados" class="form-control" required="">
                              <div class="invalid-feedback" style="width: 100%;">
                                A VLAN de dados é obrigatória.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2 mt-3">
                            <label for="username">Range Vlan Voz</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">VLAN VOZ</span>
                              </div>
                              <input type="text" value="{{.MapaOperacional.VLAN_VOZ}}" maxlength="25" name="vlan_voz" id="vlan_voz" class="form-control" required="">
                              <div class="invalid-feedback" style="width: 100%;">
                                A VLAN de VOZ é obrigatória.
                              </div>
                            </div>
                          </div>


                        <div class="col-2 mt-3">
                            <label>DAC:</label>

                            <select id="id_dac" name="id_dac" class="form-control">
                    <option  selected="selected" style="display:none;" value="{{.MapaOperacional.ID_DAC}}">{{.MapaOperacional.Dac.NOME}}</option>
             
                                {{ range .Dac}}
                                <option value="{{.IDDAC}}">{{.NOME}}</option>
                                {{end}}
                            </select>

                        </div>
                       
            

                        <div class="col-2 mt-3">
                            <label>Gravador:</label>
                            <input type="text" value="{{.MapaOperacional.GRAVADOR}}" name="gravador" id="gravador" class="form-control" >
                        </div>

                        <div class="col-3 mt-3">
                            <label>Templates (um por linha):</label>
                            <textarea class="form-control" placeholder="Insira um template por linha" maxlength="150" id="template" name="template" rows="3" required="" >{{.MapaOperacional.TEMPLATE}}</textarea>


                        </div>
               
                    
                     
                        <div class="col-9 mt-3">
                            <label>Observações:</label>
                            <textarea class="form-control" id="observacoes" maxlength="30" name="observacoes" rows="3">{{.MapaOperacional.OBSERVACOES}}</textarea>
                        </div>
            
                    </div>

            </div>
        </div>       


        
    </div>

<br />


<script src="/assets/js/tinymce/tinymce.min.js"></script>
<script>

tinymce.init({
  selector:'#observacoes',
  convert_urls: false,
  plugins: 'image code',
  language: 'pt_BR',
  images_upload_url: '/upload',
//  images_upload_base_path: '/img',
 // images_upload_credentials: true,
  height : "440",
  toolbar: 'undo redo | image code',
    setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
    }
});
</script>



                    {{   template "footer"}}
                    {{   template "scripts"}}
</body>
</html>