{{ template "head" .}}


<nav class="fixed-top flex-md-nowrap p-0 shadow">
  {{ template "header" .}}
</nav>



{{ template "sidebar-base" .}}
<main role="main" class="col-md-9 ml-sm-auto mt-5 col-lg-10 ">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-3 border-bottom">
    <h1 class="h2">


      <a style="color: #003760; text-decoration: none;" href="/base/cliente?cliente={{.ClienteUnique.IDCLIENTE}}"> {{ .ClienteUnique.NOME}} </a> / {{ .CatUnique.NOME}}
    </h1>


    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">

        {{ if eq .Cookies.V_BDC_ADM "S" }}
        <a href="/base/editar/categoria/{{ .CatUnique.IDCATEGORIA}}"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
              class="bi bi-box-seam"></i> Editar Categoria</button></a>
        <a href="/formulario/categoria"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
              class="bi bi-list-check"></i> Adicionar Categoria</button></a>
        <a href="/formulario/base"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
              class="bi bi-newspaper"></i> Adicionar Artigo</button></a>
        {{end}}
      </div>
    </div>
  </div>


  <div class="row  mb-1 mt-2 pb-2 ">
    <div class="col-lg-12">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="card-body p-4">
            <div class="text-center mb-4">
              <h4>Categorias</h4>
            </div>









            <div class="list-group list-group-horizontal gap-2 flex-wrap justify-content-center mb-0 border-0">
              {{range .Categoria}}
              <a class="btn btn-light btn-sm fw-light mx-1"
                href="/base/categoria?categoria={{.IDCATEGORIA}}&cliente={{$.ClienteUnique.IDCLIENTE}}">{{ .NOME }}</a>
              {{end}}



            </div>
            <!-- Questions list END -->
          </div>
          <!-- Popular questions END -->
        </div>
      </div>
    </div>
  </div>




  <div class="row ">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card-body">


            <div class="fat-heading-abb">


            </div>
            <div class="base-de-conhecimento-itens padding-left-30">
              <ul>
                {{range .Posts}}



                <li>
                  <a href="/base/{{.IDPOST}}">
                    <i class="bi bi-arrow-right" style="font-size: 18px; color: #003760;"></i> {{.TITULO}}</a>
                  <p style="font-size:12px" class="mb-2"><i class="bi bi-list-check"></i> {{.Categoria.NOME}}  <i
                      class="bi bi-calendar3"></i> {{.DATA_CRIACAO.Format "02/01/2006" }}</p>

                </li>
                {{ else }}

                <p>Nenhum resultado...</p>
                {{ end }}



              </ul>
            </div>




          </div>



        </div>

      </div>
    </div>
    <!--
              {{ range .Posts}}

             
              <li>
                  <a class="base-links" href="/docs/{{.IDPOST}}">
                      <i class="fas fa-file-alt"></i> {{.TITULO}}</a> 
              </li>
            
              {{end}}
      -->
  </div>
  </div>
  </div>


  </div>







  </div>
</main>






{{ template "footer"}}
{{ template "scripts"}}
</body>

</html>
