{{ template "head" .}}


<style>body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.fat-content-small {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

</style>
   

{{ template "header" .}}


{{ template "sidebar-base" .}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          


          {{ .CatUnique.NOME}}


          {{ if eq $.Cookies.V_BDC_ADM "S" }}   <a href="/base/editar/cliente/{{.ClienteUnique.IDCLIENTE}}"><i style="color: black; width: 30px;"  class="fa fa-pencil-alt" aria-hidden="true"></i></a></h1>     
     
    {{end}}
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
  
            {{ if eq .Cookies.V_BDC_ADM "S" }}

            <a href="/formulario/categoria">  <button type="button" class="ml-2 btn btn-sm btn-outline-secondary">Adicionar Categoria</button></a>

         <a href="/formulario/base">  <button type="button" class="ml-2 btn btn-sm btn-outline-secondary">Adicionar Artigo</button></a>
 {{end}}
          </div>
        </div>
      </div>

      <div class="row  mb-1 pb-2 ">   
        <div class="col-lg-12">
         <form class=" my-2 my-lg-0" action="/base/busca" method="GET">


          <div class="input-group">
            <input type="text" class="form-control mr-sm-2" id="myInput" name="busca"  placeholder="Digite para buscar" aria-describedby="button-addon4"  required="required">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-secondary" type="submit" >Buscar</button>
            </div>
          </div>




          </form>
    </div>
  </div>

      <div class="row mt-2">        
        <div class="col-lg-12">
          
            <div class="card-body">
              <div class="col-md-12">
 
  
                <div class="row">
          
                  <div class="col-md-12 margin-bottom-20">
                    <div class="fat-heading-abb">
 
                  
                    </div>
                    <div class="fat-content-small padding-left-30">
                        <ul>
                          {{range .Posts}}


         
                            <li>
                                <a href="/base/{{.IDPOST}}">
                                     <i class="fas fa-file-alt"></i> {{.TITULO}}</a>
                            </li>
                            {{ else }}
                   
                            <p>Nenhum resultado...</p>
                            {{ end }}
        

                      
                        </ul>
                    </div>

          
                  

                </div>

  

                    </div>
            
                </div>
            </div>
      <!--
              {{ range .Posts}}

             
              <li>
                  <a class="base-links" href="/docs/{{.IDPOST}}">
                      <i class="fas fa-file-alt"></i> {{.TITULO}}</a> 
              </li>
            
              {{end}}
      -->
            </div>
          </div>
        </div>


      </div>
 


      


      
      </div>
    </main>






                              {{ template "footer"}}
                              {{ template "scripts"}}
                              </body>
                              </html>
