{{ template "head" .}}
{{ template "header" .}}

<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div class="col-md-12 ml-sm-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 mt-3 border-bottom">
      <h1 class="h2">Base de Conhecimento</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a href="/base-posts"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
            class="bi bi-list-check"></i> Últimos Artigos</button></a>
            {{ if eq .Cookies.V_USUARIOS "S" }}

     <a href="/formulario/categoria"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
                class="bi bi-list-check"></i> Adicionar Categoria</button></a>

                {{end}}
                {{ if eq .Cookies.V_BDC_ADM "S" }}
                <a href="/formulario/base"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
                class="bi bi-newspaper"></i> Adicionar Artigo</button></a>
          {{end}}
        </div>
      </div>
    </div>



    <div class="padding-home row row-cols-1 row-cols-md-6 mb-6 mt-1 text-center">

      {{range .Cliente}}



         
            
                                <div class="col-4 col-sm-3 col-md-2 col-lg-2 wrapper">
                                    <a href="/base/cliente?cliente={{.IDCLIENTE}}" style="text-decoration: none;">
                                        <div class="icons-atento fix-icon-base">
                                            <div class="icons-img-atento">
                                                <img src="{{.LOGO_URL}}" alt="">
                                            </div>
                                            <div class="desc">
                                              <p class="cliente-subtitle-atento">{{.NOME}}</p>
                                          </div>
                                        </div>
                                    </a>
                                </div>
            
                            
            
            




                            {{ else }}
                   
                            <p>Nenhum resultado...</p>
                     {{end}}


  </div>

    






    </main>






                              {{ template "footer"}}
                              {{ template "scripts"}}
                              </body>
                              </html>
