{{ template "head" .}}
{{ template "header" .}}
            
            


{{ template "subheader-docs" .}}

<script>

  var nome = "{{.Nome}}"
  
  document.getElementById("navbarDarkDropdownMenuLink").innerHTML = nome;
  document.getElementById("nome_pagina").innerHTML = "{{ .Pagina }}";
  
  </script>
        
        <div class="card">
            <div class="row">        
            <div class="col-lg-12">
              
                <div class="card-body">
                  <h4 class="card-title-h3">Busca - Base de Conhecimento</h4>
                     
          <br/>
          
                  <div class="row">
                    <div class="col-md-12">
                  <div class="fat-content-small">
                    <ul>
                      {{ range .Publicacoes}}

              
                        <li>
                            <a class="base-links" href="/docs/{{.ID}}">
                                <i class="fa fa-file-text-o"></i> {{.Titulo}}</a> {{ if eq $.Perfil "gestor" }}- <a href="/docs/{{.ID}}/editar">
                                  <i class="fa fa-file-text-o"></i> Editar</a>{{else}}{{end}}  {{ if eq $.Perfil "analistap" }}- <a href="/docs/{{.ID}}/editar">
                                    <i class="fa fa-file-text-o"></i> Editar</a>{{else}}{{end}}
                        </li> 
              
                        {{end}}
                    </ul>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       </div>
                              {{ template "footer"}}
                              {{ template "scripts"}}
                              </body>
                              </html>
