{{ template "head" .}}

{{ template "header" .}}

<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 titulo-paginas">
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
      <h1 class="h2">Consulta IMDB</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a target="_blank" href="http://corp01.atento.com.br/IMDB/" class="px-2 btn btn-sm btn-outline-secondary">Clique para acessar o IMDB</a>
  
  
        </div>
  
      </div>
    </div>
  </div>
  </div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Consultar Acesso à Internet</h4>
                <p class="card-title-desc">Informe o RE para realizar a consulta.</p>
    <form id="form-imdb">
                    <div class="row">
                        <div class="col-4 col-sm-2">
                            <label><strong>RE:</strong></label>
                             <input type="text" name="re" id="re"  class="form-control">
                        </div>
                    
                 
                        <div class="col-3">
                            <p></p>
                                 <button class="btn btn-consulta" type="submit">Consultar</button>
                             </div>

                    </div>
                        
               

                

<style>.esconde {
        display: none!important;
}</style>

<div id="diframeHolder" class="esconde">
    <p> </p>
                   <iframe id="iframeHolder"  src=""  width="100%" height="600"></iframe>
     

                </div>



                    <script>
                    </script>


                 
              

     
                            <br/>  
                   
           
                </div>
                   
            

                </form>
       
        </div>
        <!-- end card -->
    </div>
   




{{ template "footer"}}
{{ template "scripts"}}

</body>
</html>