{{ template "head" .}}
{{ template "header" .}}
<style>
  .padd-title-page {
      margin-top: -30px;
  
  }
</style>


<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 padd-title-page mb-3">
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
      <h1 class="h2">Consulta Senha LAPS </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
  
  
      </div>
    </div>
  </div>
  </div>

  

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Consultar Senha</h4>
                <p class="card-title-desc">Informe o Ativo/Locador da CPU para realizar a busca.</p>
    <form action="/busca/lapsg">
                    <div class="row">
                        <div class="col-8 col-sm-2">
                            <label><strong>Ativo/Locador:</strong></label>
                             <input type="text" name="locador" maxlength="7" id="locador"  class="form-control">
                        </div>
                  
                        <div class="col-3">
                           <p></p>
                                 <button class="btn btn-consulta" type="submit">Consultar</button>
                             </div>
                    

                    </div>
                    <p></p>
                    <div class="alert alert-primary" role="alert">
                    Senha encontrada.
                    </div>

                    <h4>{{.DadosLAPS.SENHA}}</h4>
            

    

<style>.esconde {
        display: none!important;
}
.iframeHolder{
    border: none;
}
</style>





                    <script>
                    </script>


                 
            
                </div>
                   
            



                </form>
       
        </div>
        <!-- end card -->
    </div>
   




{{ template "footer"}}
{{ template "scripts"}}

</body>
</html>
                          