{{ template "head" .}}

{{ template "header" .}}

<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 titulo-paginas">
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
      <h1 class="h2">Contatos Field</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">

        </div>
  
      </div>
    </div>
  </div>
  </div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">



                <div class="row">
                  <div class="col-sm-2">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">CPC</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><strong>7 hs as 22 hs</strong></li>
                          <li>0*17 56599</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">SR</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><strong>7 hs as 22 hs</strong></li>
                          <li>0*17 59001</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">NOC</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><strong>7 hs as 22 hs</strong></li>
                          <li>11 3293-8040</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">PF VIVO</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><strong>9 hs as 18 hs</strong></li>
                          <li>0*17 55906</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">HD3</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><strong>7 hs as 22 hs</strong></li>
                          <li>0*17 56999</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">HD1</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><strong>24hs</strong></li>
                          <li>0*17 52222</li>
                        </ul>
                      </div>
                    </div>
                  </div>




                </div>
           
                </div>
                   
              </div>
       
        </div>
        <!-- end card -->
    </div>
   




{{ template "footer"}}
{{ template "scripts"}}

</body>
</html>