{{ template "head"}}

{{ template "header" .}}


<main role="main" class="flex-shrink-0">

  <div class="container-fluid">

    <main role="main" class="col-md-12 ml-sm-auto  px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Contatos Tsystems</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
  
     <a id="mylink" href="#" data-toggle="modal" data-target="#exampleModal" class="px-2 ml-1 btn btn-sm btn-outline-secondary">Lista E-mails</a>
          </div>
        </div>
      </div>
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Listas - T-Systems</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">OPMs</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_ATENTO_OPM TS_BRA_ATENTO_OPM@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Virtualização</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_Virtualizacao@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Banco de dados</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_Banco_de_Dados@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Servidores Windows</span>
          </div>
          <input type="text" class="form-control" value="TS_BRA_WINDOWS_SERVICES_ATENTO@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Servidores Linux</span>
          </div>
          <input type="text" class="form-control" value="TS_BRA_LINUX_SERVICES_ATENTO@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Redes e Security</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_Networking@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Redes e Security</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_Networking2@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Gravadores</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_Gravadores@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Preditivos</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_Preditivos@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">CTI URA</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_URA-CTI@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">DAC CMS</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_DAC-CMS@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">CPC Infra</span>
          </div>
          <input type="text" class="form-control" value="DL-TS_BRA_Atento_CPC@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">CPC VOZ</span>
          </div>
          <input type="text" class="form-control" value="TS_BRA_Voice@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Priorização de Chamados</span>
          </div>
          <input type="text" class="form-control" value="DL-Atento_Priorizacao_Atento_priorizacao@t-systems.com" aria-describedby="basic-addon2" disabled>
        </div>
        
<!-- The button used to copy the text -->

      </div>

    </div>
  </div>
</div>

  
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                  <div class="col-sm-12">
       

                    <div class="card-deck mb-3 text-center">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Escalação  1 - OPM</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title"><small class="text-muted">SEG a SEX (exceto SEX 18h até SEG 09h)</small></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>Veronica Soares</strong></li>
                            <li>(11) 94274-2566</li>
                            <li>veronica.soares@t-systems.com</li>
                           <hr>
                           <li><strong>Letícia Palacio</strong></li>
                           <li>(11) 98751-0294</li>
                           <li>leticia.palacio@t-systems.com</li>
                          <hr>
                          <li><strong>André Padilha</strong></li>
                          <li>(11) 98202-6506</li>
                          <li>andre.padilha@t-systems.com</li>
                         <hr>
                         <li><strong>Rogerio Reimao</strong></li>
                         <li>(11) 95240-0002</li>
                         <li>rogerio.reimao@t-systems.com</li>
                        <hr>
                          </ul>
                       
                        </div>
                      </div>
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Escalação 1  - OPM</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title"> <small class="text-muted">SEX 18h até SEG 09h</small></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><span style="color: red;" >SAB / DOM / SEG 06h às 18h</span></li>
                            <li><strong>Nelson Junior</strong></li>
                            <li>11 91354-6137</li>
                            <li>Nelson.Junior@external.t-systems.com</li>
                            <hr>
                            <li><span style="color: red;">SEX / SAB / DOM 18h às 06h</span></li>
                            <li><strong>Claudio Reinaldo</strong></li>
                            <li>11 99288-0606</li>
                            <li>Claudio.Reinaldo@external.t-systems.com</li>
                          </ul>
                        </div>
                      </div>
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Escalação 2 - Head OPM
                            </h4>
                        </div>
                        <div class="card-body">
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>Mauricio Venturini</strong></li>
                            <li>(11) 96429 7774</li>
                            <li>mauriciov@t-systems.com</li>
          
                          </ul>
                        </div>
                      </div>
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Escalação 3</h4>
                        </div>
                        <div class="card-body">
           
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>Gustavo Diaz</strong></li>
                            <li>(11) 98699-3547</li>
                            <li>gustavo.diaz@t-systems.com</li>
                          </ul>
                   
                        </div>
                      </div>
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Escalação 4</h4>
                        </div>
                        <div class="card-body">
                          <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>Patric Silva</strong></li>
                            <li>(11) 98689-4460</li>
                            <li>patric.ferreira-da-silva@t-systems.com</li>
         
                          </ul>
                        </div>
                      </div>
                    </div>
    
                  </div>
               
                </div>
           
                </div>
                   
              </div>
       
        </div>
        <!-- end card -->
    </div>
   




{{ template "footer"}}
{{ template "scripts"}}

</body>
</html>