{{ template "head" .}}

{{ template "header" .}}

<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      

          
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2  border-bottom">
      <h1 class="h2">Editar categoria</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
    <!--
        <div class="btn-group mr-2">
  
            <strong>18/03/2022 00:11</strong> Incidente ambiente de e-mail Exchange 2013, Tsystems atuando.-->
  
  
          

    </div>
  </div>
  
 

            <div class="card">
                <div class="card-body">
                    <div class="row">
        
     
                            <div class="col-3">
                              <div class="form-group">
                                <form id="criar-categoria">
                                  <label for="nome">Nome do cliente</label>
                                  <input type="text" class="form-control mt-2" id="nome" name="nome" required>
                                  <label for="logo_url">Fazer upload do Logo</label>
                                  <input type="file" name="logo_url" />
                               
                                </div>
                              </div>
          
                              <div class="col-12">
                                <div class="form-group">
                <button onclick="criarCategoria()" class="btn btn-block btn-outline-secondary">
                  Criar 
                </button>     
            </div>
            </div>
                </form>
                        
               
                    </div>

            </div>
        </div>       


        
    </div>

<br />





                    {{   template "footer"}}
                    {{   template "scripts"}}
</body>
</html>