{{ template "head"}}



   

  {{ template "header" .}}


  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-2 mb-3 border-bottom">
        <h1 class="h2">Atualizar Categoria</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">

          
            <button type="submit" id="atualizar-categoria" data-cat-id="{{.Categoria.IDCATEGORIA}}" class="mr-2 btn btn-sm btn-outline-secondary">Salvar</button>
             
          </div>
        </div>
      </div>



      <div class="card">
        <div class="row">        
        <div class="col-lg-12">
            <div class="card-body">
                 
  
   
                    <div class="row">
        
                        <div class="col-3">
                            <label>Categoria:</label>
                            <input type="text"  value="{{.Categoria.NOME}}" name="nome" id="nome" class="form-control" required="">
                        </div>
                        
               
                    </div>

            </div>
        </div>       


        
    </div>







                    {{   template "footer"}}
                    {{   template "scripts"}}
</body>
</html>