{{ template "head" .}}



   
<nav class="fixed-top flex-md-nowrap p-0 shadow">
  {{ template "header" .}}
</nav>



{{ template "sidebar-base" .}}}}

    <main role="main" class="col-md-9 ml-sm-auto mt-5 pt-2 col-lg-10 ">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-1 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Categoria</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">

          
            <button type="submit" id="atualizar-categoria" data-cat-id="{{.Categoria.IDCATEGORIA}}" class="mr-2 btn btn-sm btn-outline-secondary">Salvar</button>
             
          </div>
        </div>
      </div>

  <div class="container-fluid">


  <div class="card">
    <div class="row">        
        <div class="card card-body">


        
            <div class="col-3">
                <h5>Categoria:</h5>
                <input type="text"  value="{{.Categoria.NOME}}" name="nome" id="nome" class="form-control" required="">
            </div>
            
   
      
              </div>
         
          </div>

               
                


            </div>
        </div>
  
  

  
  
  
             
              
    
  
  
  </div>
  </div>
  </div>
  </div>


                                {{ template "footer"}}
                                {{ template "scripts"}}
                                </body>
                                </html>
  


