{{ template "head"}}

{{ template "header" .}}

<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      

          
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
      <h1 class="h2">Mapa Operacional </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
    <!--
        <div class="btn-group mr-2">
  
            <strong>18/03/2022 00:11</strong> Incidente ambiente de e-mail Exchange 2013, Tsystems atuando.-->
  
  
          
            
          <button type="submit" id="deletar-mapa" class="px-2 btn btn-sm btn-outline-secondary">Deletar</button>
          <button type="submit" id="atualizar-mapa" data-mapa-id="{{ .MapaOperacional.IDMAPA }}" class="px-2 btn btn-sm btn-outline-secondary">Salvar</button>
    
    </div>
  </div>
  
<script>

    var nome = ""
    
    document.getElementById("navbarDarkDropdownMenuLink").innerHTML = nome.substring(0,8);
    document.getElementById("nome_pagina").innerHTML = "";
    
    </script>



    <div class="row padd-top-editar">



            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <label>Site:</label>
                            <select id="id_site" name="id_site" class="form-control">
                           <option selected="selected" style="display:none;" value="{{.MapaOperacional.Site.IDSITE}}">{{.MapaOperacional.Site.NOME}}</option>
             
                                {{ range .Site}}
                                <option value="{{.IDSITE}}">{{.NOME}}</option>
                                {{end}}
                            </select>

                        </div>
                        <div class="col-2">
                            <label>Cliente:</label>
                            <select id="id_cliente" name="id_cliente" class="form-control">
                 <option  selected="selected" style="display:none;" value="{{.MapaOperacional.Cliente.IDCLIENTE}}">{{.MapaOperacional.Cliente.NOME}}</option>
             
                                {{ range .Cliente}}
                                <option value="{{.IDCLIENTE}}">{{.NOME}}</option>
                                {{end}}
                            </select>

                        </div>

                        <div class="col-2">
                            <label>Operação:</label>
                            <input type="text"  value="{{.MapaOperacional.OPERACAO}}" name="operacao" id="operacao" class="form-control" required="">
                        </div>
                        <div class="col-2">
                            <label>Imagem:</label>
                            <input type="text" value="{{.MapaOperacional.IMAGEM}}"  name="imagem" id="imagem" class="form-control" required="">
                        </div>
                        <div class="col-2">
                            <label>Vlan Dados:</label>
                            <input type="text" value="{{.MapaOperacional.VLAN_DADOS}}"  name="vlan_dados" id="vlan_dados" class="form-control" required="">
                        </div>
                        <div class="col-2">
                            <label>Vlan Voz:</label>
                            <input type="text" value="{{.MapaOperacional.VLAN_VOZ}}"  name="vlan_voz" id="vlan_voz" class="form-control" required="">
                        </div>

                        <div class="col-2 mt-3">
                            <label>DAC:</label>

                            <select id="id_dac" name="id_dac" class="form-control">
                                   <!--        <option  selected="selected" style="display:none;" value="{{.MapaOperacional.Dac.IDDAC}}">{{.MapaOperacional.Dac.NOME}}</option>-->
             
                                {{ range .Dac}}
                                <option value="{{.IDDAC}}">{{.NOME}}</option>
                                {{end}}
                            </select>

                        </div>
                       
             
            
                        <div class="col-4 mt-3">
                            <label>Config. CPU:</label>

                            <select id="config_contratual" name="config_contratual" class="form-control">

                         <!--       <option  selected="selected" style="display:none;" value="{{.MapaOperacional.CONFIG_CONTRATUAL}}">{{.MapaOperacional.CONFIG_CONTRATUAL}}</option>-->
             
                                <option>CPU: Core 2 Duo | 4GB RAM | HD</option>
                                <option>CPU: Core 2 Duo | 8GB RAM | HD</option>
                                <option>CPU: Core 2 Duo | 4GB RAM | SSD</option>
                                <option>CPU: Core 2 Duo | 8GB RAM | SSD</option>

                                <option>CPU: I3 | 4GB RAM | HD</option>
                                <option>CPU: I3 | 8GB RAM | HD</option>
                                <option>CPU: I3 | 4GB RAM | SSD</option>
                                <option>CPU: I3 | 8GB RAM | SSD</option>
                                
                                <option>CPU: I5 | 4GB RAM | HD</option>
                                <option>CPU: I5 | 8GB RAM | HD</option>
                                <option>CPU: I5 | 4GB RAM | SSD</option>
                                <option>CPU: I5 | 8GB RAM | SSD</option>
                                <option>CPU: I5 | 16GB RAM | SSD</option>

                                <option>CPU: I7 | 4GB RAM | HD</option>
                                <option>CPU: I7 | 8GB RAM | HD</option>
                                <option>CPU: I7 | 4GB RAM | SSD</option>
                                <option>CPU: I7 | 8GB RAM | SSD</option>
                                <option>CPU: I7 | 16GB RAM | SSD</option>

                                <option>CPU: Ryzen | 4GB RAM | HD</option>
                                <option>CPU: Ryzen | 8GB RAM | HD</option>
                                <option>CPU: Ryzen | 4GB RAM | SSD</option>
                                <option>CPU: Ryzen | 8GB RAM | SSD</option>
                                <option>CPU: Ryzen | 16GB RAM | SSD</option>


                            </select>

                        </div>
                        <div class="col-4 mt-3">
                            <label>Versão Windows:</label>

                            <select id="versao_windows" name="versao_windows" class="form-control">
                                <option  selected="selected" style="display:none;" value="{{.MapaOperacional.VERSAO_WINDOWS}}">{{.MapaOperacional.VERSAO_WINDOWS}}</option>
             
                                <option>Windows 10 Enterprise</option>
                                <option>Windows 10 Pro For Workstations</option>
                                <option>Windows 10 Pro</option>
                                <option>Windows 7 Professional</option>
                                <option>Windows 7 Enterprise</option>
                            </select>

                        </div>

                  
                        <div class="col-2 mt-3">
                            <label>IMDB:</label>
                            <input type="text" value="{{.MapaOperacional.GRUPO_IMDB}}" name="grupo_imdb" id="grupo_imdb" class="form-control" required="">
                        </div>
                        <div class="col-2 mt-3">
                            <label>Gravador:</label>
                            <input type="text" value="{{.MapaOperacional.GRAVADOR}}" name="gravador" id="gravador" class="form-control" required="">
                        </div>
                        <div class="col-2 mt-3">
                            <label>Domínio:</label>
                            <select id="id_dominio" name="id_dominio" class="form-control">
                             <!--        <option selected="selected" style="display:none;" value="{{.MapaOperacional.Dominio.IDDOMINIO}}">{{.MapaOperacional.Dominio.NOME}}</option> -->
             
                                {{ range .Dominio}}
                                <option value="{{.IDDOMINIO}}">{{.NOME}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="col-4 mt-3">
                            <label>Templates:</label>


                            <textarea class="form-control" id="template" name="template" rows="3">{{.MapaOperacional.TEMPLATE}}</textarea>


                        </div>
                        <div class="col-6 mt-3">
                            <label>Observações:</label>
                            <textarea class="form-control" id="observacoes" maxlength="25" name="observacoes" rows="3">{{.MapaOperacional.OBSERVACOES}}</textarea>
                        </div>
                    </div>

            </div>
        </div>       


        
    </div>

<br />





                    {{   template "footer"}}
                    {{   template "scripts"}}
</body>
</html>