{{ template "head" .}}
{{ template "header" .}}
<style>
  .padd-title-page {
      margin-top: -30px;
  
  }
</style>


<main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 padd-title-page mb-3">
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
      <h1 class="h2">Adicionar Operação</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
  
  
        </div>
  
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card card-body">


                        <form id="formulario-mapa">
                            <div class="row">
                                <div class="col-3 mb-3">
                                    <label>Site*:</label>
                                    <select id="id_site" name="id_site" class="custom-select d-block w-100" required="">
                                        <option value="" selected>Escolha...</option>
                                        {{ range .Site}}
                                        <option value="{{.IDSITE}}">{{.NOME}}</option>
                                        {{end}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um site.
                                      </div>
                                </div>
                                <div class="col-3 mb-3">
                                    <label>Cliente*:</label>
                                    <select id="id_cliente" name="id_cliente" class="custom-select d-block w-100" required="">
                                        <option value="" selected>Escolha...</option>
                                        {{ range .Cliente}}
                                        <option value="{{.IDCLIENTE}}">{{.NOME}}</option>
                                        {{end}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um cliente.
                                      </div>
                                </div>
                                <div class="col-3 mb-3">
                                    <label>Nome da Operação*:</label>
                                    <input type="text" placeholder="Ilha/Célula" maxlength="25" name="operacao" id="operacao" class="form-control" required="">
                                    <div class="invalid-feedback">
                                        O nome da operação é obrigatório.
                                      </div>
                                </div>
                  
                                <div class="col-3 mb-3">
                                    <label>Config. CPU*:</label>

                                    <select id="config_contratual" name="config_contratual" class="custom-select d-block w-100" required="">
                                        <option value="" selected>Escolha...</option>
                                        <option>I3 | 4GB RAM | HD</option>
                                        <option>I3 | 8GB RAM | HD</option>
                                        <option>I3 | 4GB RAM | SSD</option>
                                        <option>I3 | 8GB RAM | SSD</option>
                                        
                                        <option>I5 | 4GB RAM | HD</option>
                                        <option>I5 | 8GB RAM | HD</option>
                                        <option>I5 | 4GB RAM | SSD</option>
                                        <option>I5 | 8GB RAM | SSD</option>
                                        <option>I5 | 16GB RAM | SSD</option>

                                        <option>I7 | 4GB RAM | HD</option>
                                        <option>I7 | 8GB RAM | HD</option>
                                        <option>I7 | 4GB RAM | SSD</option>
                                        <option>I7 | 8GB RAM | SSD</option>
                                        <option>I7 | 16GB RAM | SSD</option>

                                        <option>Ryzen | 4GB RAM | HD</option>
                                        <option>Ryzen | 8GB RAM | HD</option>
                                        <option>Ryzen | 4GB RAM | SSD</option>
                                        <option>Ryzen | 8GB RAM | SSD</option>
                                        <option>Ryzen | 16GB RAM | SSD</option>
   

                                    </select>

                                </div>
                                <div class="col-3 mb-3">
                                    <label>Versão Windows*:</label>

                                    <select id="versao_windows" name="versao_windows" class="custom-select d-block w-100" required="">
                                      <option value="" selected>Escolha...</option>
                                        <option>Win 10 Enterprise</option>
                                        <option>Win 10 Pro</option>
                                        <option>Win 7 Pro</option>
                                        <option>Win 7 Enterprise</option>
                                    </select>

                                </div>
                                <div class="col-3 mb-3">
                                    <label>Nome da Imagem*:</label>
                                    <input type="text" placeholder="Imagem Deploy" maxlength="20" name="imagem" id="imagem" class="form-control" required="">
                                    <div class="invalid-feedback">
                                        O nome da imagem do windows utilizada nas máquinas é obrigatório.
                                      </div>
                                </div>
                                
                                <div class="col-3 mb-3">
                                    <label>Nome do Grupo no IMDB*:</label>
                                    <input type="text" placeholder="Grupo de Acesso" name="grupo_imdb" id="grupo_imdb" maxlength="25" class="form-control" required="">
                                    <div class="invalid-feedback">
                                        O nome do grupo no IMDB é obrigatório.
                                      </div>
                                </div>
                                <div class="col-3 mb-3">
                                    <label>Domínio*:</label>
                                    <select id="id_dominio" name="id_dominio" class="custom-select d-block w-100" required="required">
                                        <option value="" selected>Escolha...</option>
                    
                                        {{ range .Dominio}}
                                        <option value="{{.IDDOMINIO}}">{{.NOME}}</option>
                                        {{end}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um domínio.
                                      </div>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <label for="username">Vlan de Dados*</label>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">VLAN DADOS</span>
                                      </div>
                                      <input type="text" placeholder="10.155.0.102/22" maxlength="25" name="vlan_dados" id="vlan_dados" class="form-control" required="">
                                      <div class="invalid-feedback" style="width: 100%;">
                                        A VLAN de dados é obrigatória.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="username">Vlan de Voz*</label>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">VLAN VOZ</span>
                                      </div>
                                      <input type="text" placeholder="10.155.0.75/22" maxlength="25" name="vlan_voz" id="vlan_voz" class="form-control" required="">
                                      <div class="invalid-feedback" style="width: 100%;">
                                        A VLAN de VOZ é obrigatória.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-2 mb-3">
                                    <label>DAC*:</label>
                                    <select id="id_dac" name="id_dac" class="custom-select d-block w-100" required="">
                                        <option value="" selected>Escolha...</option>
                                        {{ range .Dac}}
                                        <option value="{{.IDDAC}}">{{.NOME}}</option>
                                        {{end}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um DAC.
                                      </div>
                                </div>
                                  <div class="col-2 mb-3">
                                    <label>Gravador*:</label>
                                    <input type="text"  name="gravador" id="gravador" maxlength="25" class="form-control" required="">
                                    <div class="invalid-feedback" style="width: 100%;">
                                       O Gravador é opcional.
                                      </div>
                                </div>
                    <hr>
                               
                                <div class="col-6 mb-3">
                                    <label>Templates*:</label>
                                    <textarea class="form-control" placeholder="Insira um template por linha" maxlength="150" id="template" name="template" rows="3" required="" ></textarea>


                                </div>
                                <div class="col-6 mb-3">
                                    <label>Observações:</label>
                                    <textarea class="form-control" id="observacoes"  maxlength="30" name="observacoes" rows="3" placeholder="Observações" required=""></textarea>
                                </div>

                                <hr class="mb-4">
                                <div class="col-12 mb-3">
                                    <button onclick="criarMapa()" class="btn btn-block btn-outline-secondary" type="submit">Criar</button>
                                </div>
                            



                </form>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


</div>



    {{ template "footer"}}
    {{ template "scripts"}}
    </body>

    </html>