{{ template "head"}}

{{ template "header" .}}

<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <form id="select-site-cliente" method="get" action="/mapa/operacoes/busca" name="brand-select">

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
            <h1 class="h2">Mapa Operacões </h1>
            <div class="btn-toolbar mb-2 mb-md-0">


              <div class="input-group px-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">SITE</label>
                </div>
                <select class="custom-select" id="site" name="site">
                  <option selected="selected" hidden value=""></option>
                  {{ range .Site}}
                  <option  value="{{.IDSITE}}">{{.NOME}}</option>
                  {{end}}
                </select>
              </div>

              <div class="input-group px-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">CLIENTE</label>
                </div>
                <select class="custom-select" id="cliente" name="cliente">
                  <option selected="selected" hidden value=""></option>

                  {{ range .Cliente}}
                  <option value="{{.IDCLIENTE}}">{{.NOME}}</option>
                  {{end}}

                </select>
              </div>

              <button type="submit" class="px-2 btn btn-sm btn-outline-secondary">Filtrar</button>
        </form>
      </div>
    </div>
    <div class="card mt-2">
      <div class="col-lg-12">
        <div class="card-body">
          {{ if eq .Cookies.V_MAPA_OPERACIONAL_ADM "S" }}
          <h4 class="card-title mb-4">
            <a href="/formulario/mapa"> <button type="button" class="btn btn-sm btn-outline-secondary">Adicionar</button></a> 
            <br /> </h4>
            {{ end }}
          <div class="table-responsive">
            <table class="table table-centered" id="ticketList">
              <thead>
                <tr>
                  <th scope="col">Site</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">VLAN</th>
                  <th scope="col">Configuração</th>
                  <th scope="col">Template</th>
                  <th scope="col">Telefonia</th>
                  <th scope="col">Observações</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{ range .MapaOperacional}}
                <tr>
                  <th scope="row">{{ .Site.NOME }}</th>
                  <td><strong>Cliente:</strong> {{ .Cliente.NOME }} <br/> <strong>Operação:</strong> {{ .OPERACAO }} <br/> <strong>IMDB:</strong> {{ .GRUPO_IMDB }} <br/> <strong>Domínio:</strong> {{ .Dominio.NOME }}</td>
                  <td><strong>Dados:</strong> {{.VLAN_DADOS}} <br/> <strong>Voz:</strong> {{.VLAN_VOZ}}</td>
                  <td><strong>CPU:</strong> {{ .CONFIG_CONTRATUAL }} <br/> <strong>Versão:</strong> {{ .VERSAO_WINDOWS }} <br/> <strong>Imagem:</strong> {{.IMAGEM}}</td>
                  <td>{{ .TEMPLATE }}</td>
                  <td><strong>DAC:</strong> {{ .Dac.NOME }} <br/> <strong>Gravador:</strong> {{ .GRAVADOR }}</td>
                  <td width="80px">{{ .OBSERVACOES }}</td>
                  {{ if eq $.Cookies.V_MAPA_OPERACIONAL_ADM "S" }}
                  <td><a href="/mapa/operacoes/{{ .IDMAPA }}" class="btn btn-sm btn-outline-secondary">Editar</a></td>
{{end}}
                </tr>
                {{else}}
                <tr>
                  <th scope="row">Nenhum resultado encontrado.</th>
                  <td></td>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>


               
           
                {{ end }}
                

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</<main>
    {{ template "footer"}}
    {{ template "scripts"}}
    </body>

    </html>