{{ template "head" .}}
{{ template "header" .}}

<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div class="col-md-12 ml-sm-auto">
    <div class="row">
      <div class="col-md-12">

        <form id="select-site-cliente" method="get" action="/mapa/operacoes/busca" name="brand-select">

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2  border-bottom">
            <h1 class="h2">Mapa Operacões </h1>
        
            <div class="btn-toolbar mb-2 mb-md-0">


              <div class="input-group px-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-geo-fill"></i> SITE</label>
                </div>
                <select class="custom-select" id="site" name="site">
                  <option selected="selected" value="">Escolha...</option>
                  {{ range .Site}}
                  <option  value="{{.IDSITE}}">{{.NOME}}</option>
                  {{end}}
                </select>
              </div>

              <div class="input-group px-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-box-seam"></i> CLIENTE</label>
                </div>
                <select class="custom-select" id="cliente" name="cliente">
                  <option selected="selected" value="">Escolha...</option>

                  {{ range .Cliente}}
                  <option value="{{.IDCLIENTE}}">{{.NOME}}</option>
                  {{end}}

                </select>
              </div>

              <button type="submit" class="px-2 btn btn-md btn-outline-secondary" id="filtrar" disabled><i class="bi bi-arrow-right-square"></i> Filtrar</button>
              
              {{ if eq .Cookies.V_MAPA_OPERACIONAL_ADM "S" }}

                <a href="/formulario/mapa"> <button type="button" class="mx-2 btn btn-md btn-outline-secondary"><i class="bi bi-plus-square"></i> Adicionar</button></a> 
        
                {{ end }}
        </form>
      </div>
    </div>

    <div class="card mt-3">
      <div class="col-lg-12">
        <div class="card-body">
          
          <div class="table-responsive">
            <table class="table table-centered" id="ticketList">
              <thead>
                <tr>
                  <th scope="col">Site</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">VLAN</th>
                  <th scope="col">Domínio</th>
                  <th scope="col">Configuração</th>
                  <th scope="col">Template</th>
                  <th scope="col">IMDB</th>
                  <th scope="col">Telefonia</th>
                  <th scope="col">Observações</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{ range .MapaOperacional}}
                <tr>
                  <th scope="row">{{ .Site.NOME }}</th>
                  <td><i class="bi bi-box-seam"></i> <strong>Cliente:</strong> {{ .Cliente.NOME }} <br/><i class="bi bi-boxes"></i>  <strong>Operação:</strong> {{ .OPERACAO }}</td>
                  <td><strong><i class="bi bi-ethernet"></i> Dados:</strong> {{.VLAN_DADOS}} <br/><i class="bi bi-volume-up"></i> <strong>Voz:</strong> {{.VLAN_VOZ}}</td>
                  <td><i class="bi bi-globe"></i> {{ .Dominio.NOME }} </td>


               
                  <td><i class="bi bi-hdd"></i> <strong>CPU:</strong> {{ .CONFIG_CONTRATUAL }} <br/> <i class="bi bi-windows"></i> <strong>Versão:</strong> {{ .VERSAO_WINDOWS }} <br/><i class="bi bi-window-dock"></i> <strong>Imagem:</strong> {{.IMAGEM}}</td>
                  <td> {{ .TEMPLATE }}</td>
                  <td><i class="bi bi-wifi"></i> {{ .GRUPO_IMDB }}</td>
                  <td><i class="bi bi-telephone-outbound"></i> <strong>DAC:</strong> {{ .Dac.NOME }} <br/><i class="bi bi-vinyl"></i> <strong>Gravador:</strong> {{ .GRAVADOR }}</td>
                
                  <td>  <button type="button" class="btn btn-md btn-outline-secondary"  data-toggle="modal" data-target="#Modal{{ .IDMAPA }}"><i class="bi bi-clipboard"></i></button></td>
                
<!--MODAL-->
                  <div class="modal fade" id="Modal{{ .IDMAPA }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Observações</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                  <p>{{ .OBSERVACOES }}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
                    
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- FIM MODAL-->
                
                  {{ if eq $.Cookies.V_MAPA_OPERACIONAL_ADM "S" }}
                  <td><a href="/mapa/operacoes/{{ .IDMAPA }}" class="btn btn-md btn-outline-secondary"><i class="bi bi-pencil-square"></i></a></td>
{{end}}
                </tr>
                {{else}}
                <tr>
                  <th scope="row">Nenhum resultado encontrado.</th>
                  <td></td>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                
                </tr>


               
           
                {{ end }}
                

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</<main>
    {{ template "footer"}}
    {{ template "scripts"}}
    </body>

    </html>