{{ template "head"}}


   
<nav class="fixed-top flex-md-nowrap p-0 shadow">
  {{ template "header" .}}
</nav>



{{ template "sidebar-base" .}}

    <main role="main" class="col-md-9 ml-sm-auto mt-5 col-lg-10 ">
      <div class="container-fluid">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-3 border-bottom">
        <h1 class="h2">{{ .Post.TITULO }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
  
      
         <a href="/base/{{ .Post.IDPOST }}/editar">  <button type="button" class="px-2 btn btn-sm btn-outline-secondary">Editar</button></a>
          </div>
        </div>
      </div>




      


          <div class="card ">
            <div class="row">        
                <div class="card-body">  
    <div class="col-lg-12">

          <span class="badge badge-secondary">{{.Post.Categoria.NOME}}</span>    


                {{ .Post.CONTEUDO }}
  

  </div>
  </div>
  </div>
  </div>
  
</div>        

</main>
{{ template "footer"}}
                                {{ template "scripts"}}
                                </body>
                                </html>
  