{{ template "head" .}}



   
<nav class="fixed-top flex-md-nowrap p-0 shadow">
  {{ template "header" .}}
</nav>



{{ template "sidebar-base" .}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 mt-5  pt-2 ">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 mt-3 border-bottom">
        <h1 class="h2">{{ .Post.TITULO }}</h1>
      
 
        <div class="btn-toolbar mb-2 mb-md-0">

          <div class="btn-group mr-2">
            {{ if eq .Cookies.V_USUARIOS "S" }}

        
                       {{end}}
            {{ if eq .Cookies.V_BDC_ADM "S" }}
            <!--   <a href="/formulario/categoria"> <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i
                     class="bi bi-list-check"></i> Adicionar Categoria</button></a>-->
    
         <a href="/base/{{ .Post.IDPOST }}/editar">  <button type="button" class="ml-2 btn btn-sm btn-outline-secondary"><i class="bi bi-pencil-square"></i> Editar</button></a>
         {{end}}
          </div>
        </div>
     
      </div>
      <p><strong><a class="atento-breadcrumb-link" href="/base-de-conhecimento/cliente/{{.Post.Cliente.IDCLIENTE}}">{{.Post.Cliente.NOME}}</a> / <a  class="atento-breadcrumb-link" href="/base-de-conhecimento/cliente/{{.Post.Cliente.IDCLIENTE}}/categoria/{{.Post.Categoria.IDCATEGORIA}}">{{.Post.Categoria.NOME}}</a> / <a  class="atento-breadcrumb-link" href="/base-de-conhecimento/cliente/{{.Post.Cliente.IDCLIENTE}}/categoria/{{.Post.Categoria.IDCATEGORIA}}/subcategoria/{{.Post.SubCategoria.IDSUBCATEGORIA}}">{{.Post.SubCategoria.NOME}}</a> / </strong> <span>{{ .Post.TITULO }}</span></p>


<style>.bg-blue-atento { background-color: #003760; }

  .lh-100 { line-height: 1; }
  .lh-125 { line-height: 1.25; }
  .lh-150 { line-height: 1.5; }</style>
      
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue-atento rounded shadow-sm">
        <img class="mr-3" src="https://api-funcionario.atento.com.br/v3.0/funcionario/BRATE{{.Post.Usuario.RE}}/foto/url" onerror="this.src='/assets/images/icons/user.png'" alt="" width="48" height="48">
        <div class="lh-100">
          <h5 class="mb-0 text-white lh-100">{{.Post.Categoria.NOME}}</h5>
          <h6>{{.Post.Cliente.NOME}}</h6>
          <small><i class="bi bi-person"></i> {{.Post.Usuario.NOME}}  </small>
          <small><i class="bi bi-calendar3"></i> {{.Post.DATA_CRIACAO.Format "02/01/2006 15:04" }}</small>
        </div>
      </div>

      <style>.atento-breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }
    .atento-breadcrumb > :nth-child(n+2):not(.atento-first-column)::before {
    content: "/";
    display: inline-block;
    margin: 0 8px;
    color: #003760;
}
.atento-breadcrumb-link {
    color: #003760;
    text-decoration: none;
    cursor: pointer;
}
.atento-breadcrumb-link:hover {
    color: #09558f;
    text-decoration: none;
    cursor: pointer;
}
    </style>

          <div class="card">      
                <div class="card-body">  

                {{ .Post.CONTEUDO }}
  </div>

  </div>
</div>
</main>
{{ template "footer"}}
                                {{ template "scripts"}}
                                </body>
                                </html>
  